@charset "UTF-8";
/*Header*/
header {
  width: 100%;
  height: 700px;
  background: url(../Recursos/Sin\ título\ \(1920 × 1080 px\)\ \(2\).png);
  background-size: cover;
  position: relative;
}

header .textos-header {
  font-family: "Playfair Display", serif;
  display: flex;
  height: 300px;
  width: 40%;
  margin: 20px 0 0 170px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}
header .textos-header h1 {
  font-size: 30px;
  margin: 10px;
}
header .textos-header h2 {
  font-size: 20px;
  margin: 10px;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.icono-menu {
  margin: 0 50px;
  padding-top: 30px;
  position: relative;
  z-index: 10;
}

.icono-menu img {
  vertical-align: top;
  width: 40px;
  cursor: pointer;
}

/* Estilos para el contenedor del Menú */
.cont-menu {
  background-color: white;
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

/* Estilos por agregar en JavaScript */
.active {
  transform: translate(-600px);
}

/* Estilos para el listado del Menú */
.cont-menu ul {
  padding: 100px 0px 20px 0px;
  list-style: none;
}

.navLink {
  color: black;
  text-decoration: none;
}

.cont-menu ul li {
  color: black;
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
}

.cont-menu ul li:hover {
  background-color: rgb(228, 228, 228);
  color: rgb(42, 42, 42);
}

/*Que es la Amronizacion*/
.titulo {
  font-family: "Playfair Display", serif;
  height: 200px;
  margin: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titulo p {
  width: 50%;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: "Playfair Display", serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: pink;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: "Playfair Display", serif;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: "Playfair Display", serif;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: "Playfair Display", serif;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: "Playfair Display", serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: pink;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: pink;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

/*Sobre Graciela Gane*/
.quien-somos {
  font-family: "Playfair Display", serif;
}
.quien-somos h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contenedor-quien-somos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-quien-somos img {
  margin-right: auto;
}

.contenido-textos {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: start;
}
.contenido-textos p {
  height: 400px;
  width: 50%;
  margin-right: 0%;
}

/*Footer*/
.footer-distributed {
  background: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: "Playfair Display", serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  margin: 0;
}
.footer-distributed h3 span {
  color: rosybrown;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: rosybrown;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

body {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Para pantallas más pequeñas */
@media (max-width: 767px) {
  .card {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0%;
  }
  .card-body {
    padding: 0% 30px;
  }
  .card h5 {
    font-size: 1.5rem;
  }
  .card p {
    font-size: 1rem;
  }
}
/* Para pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 45%;
    height: 0;
    padding-bottom: 45%;
  }
  .card-body {
    padding: 1rem;
  }
  .card h5 {
    font-size: 2rem;
  }
  .card p {
    font-size: 1.2rem;
  }
}
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 400px;
    background: url(../Recursos/Sin\ título\ \(1920 × 1080 px\)\ \(2\).png);
    background-size: cover;
    position: relative;
  }
  header .textos-header {
    font-family: "Playfair Display", serif;
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
  }
  header .textos-header h1 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20px;
  }
  header .textos-header h2 {
    font-size: 12px;
  }
  .textos-header img {
    width: 200px;
    margin: 10px;
  }
  .wave {
    width: 0%;
  }
  .quien-somos {
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    background-color: #f0eded;
  }
  .quien-somos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .foto-grace {
    height: 50%;
    width: 100%;
  }
  .contenedor-quien-somos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contenedor-quien-somos img {
    margin: auto;
  }
  .contenido-textos {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .contenido-textos p {
    height: 400px;
    width: 100%;
  }
  .icono-menu {
    margin: 0 20px;
    padding-top: 30px;
    position: relative;
    z-index: 10;
  }
  .cont-menu ul li {
    color: black;
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
  }
  body {
    background-color: #000;
  }
}/*# sourceMappingURL=estilos.css.map */